/* web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
@import 'reset.css';
@import 'variable.css';

/* components */
@import './components/status-bar.css';
@import './components/no-mobile.css';
@import './components/nav-bar.css';

/* screens */
@import './screens/login.css';
@import './screens/directs.css';
@import './screens/friends.css';

body {
  background-image: url(../img/wallpaper.png);
  background-size: cover;

  font-family: 'Noto Sans KR', sans-serif;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
