/* web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
@import 'reset.css';

/* components */
@import './components/status-bar.css';
@import './components/no-mobile.css';

body {
  background-image: url(../img/wallpaper.png);
  background-size: cover;

  font-family: 'Noto Sans KR', sans-serif;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* index.html */
.container {
  width: 347px;
  height: 753px;
  background-color: #303337;
  border-radius: 22px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.welcome-header img:first-child {
  width: 48px;
  height: 38px;
  position: absolute;
  top: -24px;
  left: 90px;
}

.welcome-header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #5865f2;
  margin-left: 60px;
}

.welcome-header img {
  width: 347px;
  height: 356px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.welcome-header h3,
.welcome-header h4,
#login-form input {
  color: white;
}

.welcome-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.welcome-header h4 {
  opacity: 50%;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form input {
  width: 347px;
  height: 43px;
  border-radius: 4px;
  font-weight: 700;
}

#login-form input:first-child {
  background-color: #5865f2;
  margin-bottom: 16px;
}

#login-form input:last-child {
  background-color: #40434a;
}
