/* web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
@import 'reset.css';

/* components */
@import './components/status-bar.css';
@import './components/no-mobile.css';

body {
  background-image: url(../img/wallpaper.png);
  background-size: cover;

  font-family: 'Noto Sans KR', sans-serif;
}

/* index.html */
.container {
  width: 746px;
  height: 388px;
  background-color: #313338;
  border-radius: 8px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-header h1,
.welcome-header h4,
#login-form label,
#login-form h6,
.qr-code {
  color: white;
}

.welcome-header h1,
.welcome-header h4,
.qr-code {
  text-align: center;
}

.welcome-header h1,
.qr-code h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.welcome-header h4,
.qr-code h4 {
  font-size: 14px;
  opacity: 50%;
  margin-bottom: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#login-form label {
  font-size: 12px;
  opacity: 80%;
  margin-bottom: 10px;
}

.username,
.password,
.submit,
.qr-code__img {
  border-radius: 4px;
}

.username,
.password {
  width: 394px;
  height: 37px;
  background-color: #1e1f22;
  color: white;
}

.username {
  margin-bottom: 20px;
}

.password {
  margin-bottom: 5px;
}

.submit {
  color: white;
  font-weight: 700;
  width: 394px;
  height: 41px;
  background-color: #576aed;
  margin-top: 20px;
}

#login-form a {
  font-size: 13px;
  font-weight: 500;
  color: #129ce1;
}

#login-form h6 {
  font-size: 13px;
  opacity: 50%;
  margin-top: 5px;
}

.signup {
  position: absolute;
  bottom: 0;
  left: 110px;
}

.qr-code {
  padding: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code__img {
  width: 166px;
  height: 166px;
  background-image: url(../img/qr.jpg);
  margin-bottom: 38px;
}
