.container-b {
  width: 347px;
  height: 753px;
  background-color: #303337;
  border-radius: 22px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
  position: relative;
}

@keyframes messageAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.hamburger__btn:first-child i {
  animation: messageAnimation 1.5s ease-in-out infinite;
}

.hamburger {
  width: 70px;
  height: 100%;
  box-sizing: border-box;
  margin-top: -20px;
  padding: 0px 5px 5px 5px;
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  position: absolute;
  left: 0px;
  border-radius: 22px 0 0 22px;
}

.hamburger__list {
  color: white;
  text-align: center;
}

.hamburger__btn {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: var(--grey);
}

.hamburger__btn:first-child {
  border-radius: 12px;
  background-color: var(--main-color);
  margin-top: 50px;
}

.hamburger__btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hamburger__btn a {
  font-size: 12px;
  height: 100%;
}

.hamburger__btn .fa-plus {
  color: #3ba55b;
}

.hamburger__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* direct */
main {
  color: white;
  position: relative;
  margin-left: 40px;
}

main h3 {
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 40px;
}

main input {
  background-color: var(--dark);
  padding: 8px;
  width: 240px;
  border-radius: 4px;
}

main i {
  position: absolute;
  right: 10px;
  top: 80px;
  opacity: 50%;
}

/* user component */
.user-component__column {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__column:first-child .user-component__avatar {
  background-color: #ee4246;
}

.user-component__column:nth-child(2) .user-component__avatar {
  background-color: #3ab9b9;
}

.user-component__column:nth-child(3) .user-component__avatar {
  background-color: #f9a61a;
}

.user-component__column:nth-child(4) .user-component__avatar {
  background-color: #ec459f;
}

.user-component__column:last-child .user-component__avatar {
  background-color: #3ba55b;
}

.user-component__avatar img {
  width: 20px;
}

.user-component__username {
  font-size: 14px;
  opacity: 80%;
}

/* splash-screen */
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  z-index: 2;
  background-color: var(--main-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 80px;
}
