.container {
  position: relative;
}

.hamburger {
  width: 70px;
  height: 648px;
  margin-top: -20px;
  padding: 120px 5px 5px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--dark);
  position: absolute;
  left: 0px;
  border-radius: 22px 0 0 22px;
}

.hamburger__list {
  color: white;
  text-align: center;
}

.hamburger__btn {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: var(--grey);
}

.hamburger__btn:first-child {
  border-radius: 12px;
  background-color: var(--main-color);
}

.hamburger__btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hamburger__btn a {
  font-size: 12px;
}

.hamburger__btn .fa-plus {
  color: #3ba55b;
}

/* direct */
main {
  color: white;
  position: relative;
  margin-left: 40px;
}

main h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

main input {
  background-color: var(--dark);
  padding: 8px;
  width: 240px;
  border-radius: 4px;
}

main i {
  position: absolute;
  right: 10px;
  top: 40px;
  opacity: 50%;
}

/* user component */
.user-component__column {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 16px;
  text-align: center;
  background-color: #ee4246;
}

.user-component__avatar img {
  width: 20px;
}

.user-component__username {
  font-size: 14px;
  opacity: 80%;
}

/* splash-screen */
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  z-index: 2;
  background-color: var(--main-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 80px;
}
