.nav {
  width: 347px;
  padding: 20px;
  background-color: #111213;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 22px 22px;
}

.nav img {
  width: 30px;
  height: 22px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
