.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
  box-sizing: border-box;
  color: white;
}

.status-bar__column i:first-child,
.status-bar__column i:nth-child(2) {
  margin-right: 5px;
}
